@font-face {
    font-family: 'Softizen';
    src: url('../fonts/Softizen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Candy Beans';
    src: url('../fonts/Candy Beans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

input{
    font-family: 'Candy Beans', sans-serif;

}

.title{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 70px;

    font-family: 'Softizen', sans-serif;
    color:rgb(234, 234, 234);
    -webkit-text-stroke: 0.03em rgb(207, 124, 0);

}

h2{
    font-family: 'Softizen', sans-serif;
    color:rgb(234, 234, 234);
    -webkit-text-stroke: 0.03em rgb(207, 124, 0);

}

p, span{
    font-family: 'Candy Beans', sans-serif;

    color:black;
}

.time-input-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-items: baseline;
    gap: 10px; 
}

.input-task-list{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.time-input{

    position: relative;
    width: 80%;
    height: 80%;
    background: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    z-index: 1; 
    outline: none;

}

.theme_container{
    text-align: center;
    margin-top: 10%;
}

footer {
    display: block;
  }
  

.box {
    width: 200px;
    height: 100px;
    border: 1px solid rgb(152, 79, 79);
    
    
    display: inline-block;

  }

.counting-time{
    text-align: center;

}

.task-container{
    display: flex;
    justify-content: space-around;
}
.current-task-name{
    text-align: center;
    margin-bottom: 10px;
}

.countdown-timer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    height: 180px;
    width: 360px;
    border-radius: 15px;
    background-color: #9d6924;

    box-shadow: inset -7px -7px 5px #80551e, inset 7px -7px 5px #80551e;
}


.timer-container-seperate{
    display:flex;
    align-items:center;
    flex-direction:column;
}


.allowed-dimension{
    width: 85%;
    align-items: center;
    margin-left: 10%;
}

.task-list-title {
    display: block;
    position: relative; 
    text-align: center;
    margin-bottom: 10px;     
}

.task-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#taskList_Index {
    margin: 0;
    padding: 0;

    list-style-type: none; 
    display: flex;
    flex-direction: column;

    width: 320px;
    border-radius: 15px;
    background-color: #9d6924;
    

    box-shadow: inset -7px -7px 5px #80551e, inset 7px -7px 5px #80551e;

}

.main-layout{
    display:flex;
    justify-content:space-around;
}


.progress-bar-container {
    position: relative;
    display: flex;
    
    align-items: center;
    width: 700px; 
    height: 35px;
    border-radius: 25px;
    background: #dda154;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: auto;
    margin-top: 25px;
}


.inner-progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f9c580;
    border-radius: 25px;
    filter: blur(4px);
    z-index: 0;

  }


#progress-bar {
    position: absolute; 
    left: 1%; 
    top: 50%; 
    transform: translateY(-50%); 

    width: 98%;
    height: 25px;
    background-color: #ffea00;
    transition: width 1s linear;
    border-radius: 23px;
    z-index: 1;
    box-shadow: inset -3px -5px 5px #f1c514;

}

#progress-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    z-index: 2;
    padding-left:90%;
}





.dropdown {
position: relative;
display: inline-block;
}


.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 130px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.show {display:block;}



.time-display{
    display:flex;
    flex-direction : row;
}

.finished-tasks{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#finishedTasks{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style-type: none; 
    display: flex;
    flex-direction: column;

    width: 275px;
    border-radius: 15px;
    background-color: #9d6924;

    box-shadow: inset -7px -7px 5px #80551e, inset 7px -7px 5px #80551e;

    
}

.button-container{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 10px; 

    margin-top: 30px;
}
.time-preset {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 10px; 
    padding-top: 20px;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 50px;
    border-radius: 25px;
    background: #ccc;
    border: solid 3px white;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5); 
    overflow: hidden; 
  }
.inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 25px;
    filter: blur(4px);
    z-index: 0;
  }


.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background: #ccc;
    border: solid 3px white;
    box-shadow: 0 0 20px -4px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

#set15, #set30, #set45{
    width: 85px;
    height: 35px;
    
}

#nextButton, #finishButton{
    width: 95px;
    height: 40px;
}

#hour-input, #minute-input, #second-input{
    width: 70px;
    height: 40px;

}

.button-navigator {
    flex-direction:column;

    position: relative;
    border-radius: 200px;
    background: rgb(189,119,27);
    background: linear-gradient(0deg, rgba(189,119,27,1) 0%, rgba(248,196,127,1) 59%, rgba(250,224,190,1) 100%);
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}


.bg-navigator-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: inherit; 
    box-shadow:  0px 5px 5px #856439, 0px 9px 0px #a76f26;
    z-index: -2; 
}

.button span {
    position: relative;
    z-index: 1;
}

.button-navigator:hover {
    
      transform: translateY(3px);
    }
    
.button-navigator:active {
    box-shadow: 2px 2px 0px #a76f26;
    transform: translateY(2px);
  }
  
.button-navigator span {
position: relative;
z-index: 1;

font-family: 'Candy Beans', sans-serif;
-webkit-text-stroke: none;

color:rgb(34, 34, 34);
}


#task-item-name {
    position: relative;
    width: 90%;
    height: 80%;
    background: transparent;
    border: none;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    outline: none;
}

.wrapper-name-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; 
    height: 50px;
    border-radius: 25px;
    background: #ccc;
    border: solid 3px white;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.inner-name-input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 25px;
    filter: blur(4px);
    z-index: 0;
}

.taskList_Row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; 
    height: 50px;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 13px;
    justify-content: flex-end;

    background: #d69f58;
    box-shadow: 5px -5px 5px #7f541b, -5px -5px 5px #7f541b;


}



.inner-row {
    position: absolute;
    width: 93%;
    height: 85%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
}


.inner-row::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 85%;
    border-radius: 15px;

    background: #e8b168;
    filter: blur(4px);
    z-index: 0;
    
}



.task-name, .task-time {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: black;
    z-index: 2;
}



.inner-row span{
    position: relative;
    z-index: 1;
    color: black;
}

.task-name, .task-time {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: black;
    z-index: 1; 
}


.inner-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
}

.task-name {
    flex: 1;
    text-align: left;
}

.task-time {
    text-align: right;
}

.span-align{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.wrapper-countdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 50px;
    border-radius: 15px;
    background: #d69f58;
    box-shadow: 5px -5px 5px #7f541b, -5px -5px 5px #7f541b;
    overflow: hidden; 
    margin-bottom:10px;
    
  }
.inner-countdown {
    position: absolute;
    width: 95%;
    height: 85%;
    background: #e8b168;
    border-radius: 15px;
    filter: blur(4px);
    z-index: 0;
}

.wrapper-countdown span {
    position: relative;
    z-index: 1;
    color: black;
}

.wrapper-task-name{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 50px;
    border-radius: 15px;
    background: #d69f58;
    overflow: hidden; 
    margin-bottom:10px;
    box-shadow: 5px -5px 5px #7f541b, -5px -5px 5px #7f541b;


    

}
.inner-task-name{
    position: absolute;
    width: 97%;
    height: 93%;
    background: #e8b168;
    border-radius: 15px;
    filter: blur(5px);
    z-index: 0;
}
.wrapper-task-name span{
    position: relative;
    z-index: 1;
    color: black;
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: -15px;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.circle {
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}
.progress {
    width: 85%;
    height: 85%;
    border-radius: 50%;
}

.progress-row{
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    background-color: rgb(220, 220, 220);
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    z-index: 2;
    position: relative;
    transform: translate(2px, -5px);

    margin-top: 25px;
}

.progress-circle{
    z-index: 3;
    background: conic-gradient(black 0% 0%, rgb(220, 220, 220) 0% 100%); 
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute; 
}

.general-row{
    display: flex;
    width:300px;
    height:50px;
    margin-bottom: 20px;
    justify-content: flex-end; 
}    


.author {
    position: absolute; /* Fix it to a position */
    bottom: 10px; /* Adjust this value as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Ensure true centering */
    color: rgb(234, 234, 234);
    -webkit-text-stroke: 0.03em rgb(207, 124, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensures it spans across */
}
